/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* ! Color Variables */
:root {
  --maximum-yellow-red: #e6b548ff;
  --brown-gray: #4e4637;
  --tope: #b5aa99;
  --pink: #e316e3;
  --davys-grey: #585a5aff;
  --river-green: #009f8c;
}
body {
  width: 90vw;
  margin: auto;
  font-family: Poppins, sans-serif;
}
/* !Navbar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 20%;
  padding: 1rem 0 1rem 0;
}

.logo {
  width: 100%;
}

.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.nav-links a:link,
.nav-links a:visited {
  color: var(--davys-grey);
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--river-green);
  font-weight: 800;
}

.nav-links a:active {
  font-weight: 400;
}
/* .page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: auto;
} */
section {
  width: 100%;
  /* height: 80vh; */
  /* border: solid 1px red; */
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 18pt;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--davys-grey);
}

.subtitle {
  margin-bottom: 1em;
  padding-left: 1.2rem;
  color: var(--river-green);
  font-size: 1em;
}

.section-image {
  width: 90%;
  margin: auto;
}

.name-repository {
  width: 100%;
  margin: auto;
}

.main-note {
  font-size: 0.75em;
  font-style: italic;
  color: var(--pink);
  padding: 1rem;
  text-align: center;
}

.main-instruction {
  font-size: 0.8em;
  padding: 1rem;
  text-align: center;
  color: var(--maximum-yellow-red);
  font-weight: 700;
}

.step-instructions {
  font-size: 0.75em;
  margin: 0.5rem auto 0 auto;
  color: var(--davys-grey);
  line-height: 1.9em;
}

.step-instructions > li {
  margin: 1em 0;
}
.active-slide {
  border: var(--maximum-yellow-red) 2px solid;
}

.type-text {
  font-family: 'Courier New', Courier, monospace;
  color: var(--pink);
  font-weight: bold;
}

.emphasis {
  color: var(--pink);
  font-weight: bold;
  font-style: italic;
}
.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  section {
    margin-bottom: 5rem;
  }
  .title {
    font-size: 40px;
    margin: 2rem;
  }

  .subtitle {
    font-size: 24px;
    margin: 1.5rem;
  }
  .step-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-1-image {
    width: 100%;
  }

  .step-1-instructions > p {
    font-size: 1.2rem;
  }

  .step-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .section-2-image {
    order: 2;
    flex-basis: 60%;
  }

  .step-2-instructions p {
    font-size: 1.2rem;
  }

  .step-instructions {
    font-size: 1.2rem;
  }

  .step-3 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .main-instruction {
    font-size: 1.2rem;
  }

  .step-4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .step-4-instructions {
    order: 1;
  }

  .section-4-image {
    order: 2;
    margin: auto;
  }

  .step-5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .step-6 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .section-6-image {
    order: 2;
  }

  .step-7 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .step-8 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }

  .section-8-image {
    order: 2;
  }
}
