/* ! CSS Reset Section from joshwcomeau.com/css/custom-css-reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  width: 90vw;
  margin: auto;
}
/* !Navbar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  padding: 1rem 0 1rem 0;
}
.logo {
  width: 30%;
}
.nav-links {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.page-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
main {
  width: 100%;
  height: 60vh;
  border: solid 1px red;
}

section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selector-img {
  width: 18%;
  height: 10vh;
  border: solid 1px red;
  margin: 5vh 0;
}
